<!DOCTYPE html>
<html>
<head>
    <title>Water Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Stored Water Data 📊</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Pincode</th>
            <th>Source</th>
            <th>TDS</th>
            <th>pH</th>
            <th>Hardness</th>
            <th>DO</th>
        </tr>

        {% for row in rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/">⬅ Back</a>

</body>
</html>